<%var jsPart={%>
<script type="text/javascript" src="/static/plugins/bootstrap_table/js/bootstrap-table.min.js"></script>
<script type="text/javascript" src="/static/plugins/bootstrap_table/js/locales/bootstrap-table-zh-CN.min.js"></script>
<script type="text/javascript" src="/static/plugins/bootstrap_table/initBootstrap_table.js"></script>
<script type="text/javascript">
    var $listTabId = $("#searchTable");
    $(function () {
        initPageList($listTabId, {
            url: "/album/page",
            queryParams: function (params) {
                return $('#search-form').serializeJson(params);
            }
        });
        //搜索
        $("#search-submit").click(function () {
            $listTabId.bootstrapTable('getOptions').pageNumber = 1;
            $listTabId.bootstrapTable('refresh');
            return false;
        });
    });

    function publishStatus(value, item, index){
        return (item.isPublished == 0 ? "撤销" : "发布")
    }

    function stickyStatus(value, item, index){
        return (item.isStick == 0 ? "不置顶" : "置顶")
    }
    function title(value, item, index){
         var action = [
           {
                spanCss: "approve",
                aCss:"vim-s",
                value:"编辑",
                href:"/album/form?albumId=" + item.contentId,
                onFun:"",
                param:[]
            }, {
                spanCss: "approve",
                aCss:"vim-s",
                value:(item.isPublished == 1 ? "撤销发布" : "发布") ,
                href:"javascript:;",
                onFun:"publish",
                param:[item.contentId]
            }, {
                spanCss: "approve",
                aCss:"vim-s",
                value: (item.isStick == 1 ? "不置顶" : "置顶") ,
                href:"javascript:;",
                onFun:"sticky",
                param:[item.contentId]
            }
        ];

        if (('' != $('select[name="tId"]').val())) {
			if (0 != index) {
				action.push({
                    spanCss: "approve",
                    aCss:"vim-s",
                    value: '上移',
                    href:"javascript:;",
                    onFun:"move",
                    param:[item.contentId, 'up']
                });
			}
			action.push({
                spanCss: "approve",
                aCss:"vim-s",
                value: '下移',
                href:"javascript:;",
                onFun:"move",
                param:[item.contentId, 'down']
            });
		}
        action.push({
                spanCss: "spam",
                aCss:"vim-s vim-destructive",
                value:"删除",
                href:"javascript:;",
                onFun:"del",
                param:[item.contentId]
        });
        var option = {
            href:'/album/detail?albumId=' + item.contentId,
            value:value,
            action:action
        };
        return rowAction(option);
    }

     //撤销与发布
    function publish(id) {
       $.post('/album/publish', {'albumId':id, 'date': new Date}, function(data){
            $listTabId.bootstrapTable('refresh');
            var notification = initAlertify(data.message, 0 == data.errorCode);
       }, 'json');
    }
    //置顶与取消置顶
    function sticky(id){
        $.post('/album/sticky', {'albumId':id, 'date': new Date}, function(data){
            $listTabId.bootstrapTable('refresh');
            var notification = initAlertify(data.message, 0 == data.errorCode);
       }, 'json');
    }
     //上移下移
    function move(id, isUp) {
       $.post('/album/move/' + isUp + '/' + id, {'date': new Date}, function(data){
            $listTabId.bootstrapTable('refresh');
            var notification = initAlertify(data.message, 0 == data.errorCode);
       }, 'json');
    }
    //删除
    function del(id) {
        alertify.confirm('信息确认', '确定删除该专辑吗？',
        function(){
            window.location.href = '/album/delete/' + id;
         },
         function(){}).set('labels', {ok:'确定', cancel:'取消'});
    }


</script>
<%};%>
<%var cssPart={%>
<link type="text/css" rel="stylesheet" href="/static/plugins/bootstrap_table/css/bootstrap-table.min.css"/>
<style type="text/css">

</style>
<%};%>
<% layout("/common/layout.html",{position:"专辑管理", jsPart:jsPart,
cssPart:cssPart}){ %>
<!-- search -->
<div class="row content-row">
    <form class="form-horizontal" id="search-form" style="float: right">
        <div class="form-group input-group input-group-sm">
            <select class="form-control" name="tId" style="width:200px;">
                <option value="">专辑栏目</option>
                <%for(var item in column){%>
                <option value="${item.id}">${item.title}</option>
                <%}%>
            </select>
            <input id="post-search-input" class="form-control" type="text"
                   name="title" placeholder="专辑标题">&nbsp; <input
                id="search-submit" class="btn btn-default btn-sm" type="submit"
                value="搜索专辑">
        </div>
    </form>
    <%if(ShiroMethod.hasPermission("专辑-新增")){%>
        <a class="btn btn-default btn-sm" href="/album/form">新增专辑</a>
    <%}%>
</div>

<div class="box ">
    <!-- /.box-header -->
    <div class="box-body jp-common-pad">
        <table id="searchTable">
            <thead>
            <tr>
                <th data-formatter="indexNum" data-title="序号" data-align="center" data-width="3%"></th>
                <th data-field="title" data-formatter="title" data-width="50%" data-title="专辑标题"></th>
                <th data-formatter="publishStatus" data-title="发布状态"></th>
                <th data-formatter="stickyStatus" data-title="置顶状态"></th>
                <th data-field="source" data-title="专辑来源"></th>
                <th data-field="taxonomyTitle" data-title="专辑类型"></th>
                <th data-field="created" data-align="center" data-title="创建日期"></th>
            </tr>
            </thead>
        </table>
    </div>
</div>
<% } %>

